<header>
    <div id="headerWrapper" class="text-center">
        <div id="headerWrapperLeft">
            <img id="contactsImg" src="../../../assets/contacts.png" alt="contactsImg" />
            <p *ngIf="loggedUser">Welcome {{ loggedUser.username }}!!</p>
        </div>
        <ng-container>
            <div id="headerWrapperRight" *ngIf="loggedUser; else noLogged">
                <button mat-raised-button color="accent" (click)="openDialog()">Create contact</button>
                <button mat-raised-button color="warn" (click)="logout()">Logout</button>
            </div>
            <ng-template #noLogged>
                <div *ngIf="isLoginPage; else isRegisterPage">
                    <button mat-raised-button color="accent" (click)="goRegisterPage()">Register</button>
                </div>
                <ng-template #isRegisterPage>
                    <div>
                        <button mat-raised-button color="accent" (click)="goLoginPage()">Log in</button>
                    </div>
                </ng-template>
            </ng-template>
        </ng-container>
    </div>
</header>