header {
  height: var(--header-height);
  background-color: var(--color-primary);
  color: white;
}

#headerWrapper {
  width: 50%;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#headerWrapper > * {
  flex-basis: 100%;
}

#headerTitle {
  margin-bottom: 0;
}
