header {
  min-height: var(--header-height);
  display: flex;
  background-color: var(--color-primary);
  color: white;
}

#headerWrapper {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#headerWrapper > * {
  flex-basis: 100%;
}

#headerWrapperLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}

#headerWrapperLeft > p {
  margin: 0;
}

#headerWrapperRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

#headerWrapperRight button {
  width: fit-content;
}

#contactsImg {
  height: auto;
  width: 5rem;
}

@media only screen and (max-width: 600px) {
  #headerWrapper {
    width: 100%;
  }
}

@media only screen and (max-height: 800px) {
  #contactsImg {
    height: auto;
    width: 4rem;
  }
}
