.contactCard {
  text-align: center;
  border: 1px solid var(--color-primary);
  transition: transform 0.2s;
  flex-basis: 100%;
}

.contactCard:hover {
  transform: scale(1.1);
}

.contactCardHeader {
  justify-content: center;
  margin-bottom: 1.2rem;
}

.contactName,
.contactLastName {
  margin-bottom: 0 !important;
}

.contactLastName {
  padding-top: 8px;
}

.noImgInCard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7c7c7;
}

@media only screen and (max-width: 350px) {
  .contactCardButtonsContainer {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  .contactCardButtonsContainer > button {
    margin: 0;
  }
}
