/* You can add global styles to this file, and also import other style files */
:root {
  --color-primary: #673ab7;
  --color-accent: #ffd740;
  --color-warn: #f44336;
  --header-height: 10vh;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

main {
  height: calc(100% - var(--header-height));
}

main > * {
  padding: 2rem;
}

.text-center {
  text-align: center;
}
