#registerContainer {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

#registerForm {
  display: flex;
  flex-direction: column;
}

#registerFormButtons {
  width: 50%;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
