<form enctype="multipart/form-data" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <h1 mat-dialog-title>{{!this.data ? "Create": "Edit"}} contact</h1>
    <div mat-dialog-content id="contactFormDialogContent">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="text" id="txtName" placeholder="Name" formControlName="name">
            <mat-error *ngIf="contactForm.controls['name'].invalid && contactForm.controls['name'].errors.required">
                Name is required
            </mat-error>
            <mat-error *ngIf="contactForm.controls['name'].invalid && contactForm.controls['name'].errors.maxlength">
                Name must be 15 characters at most
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Last name</mat-label>
            <input matInput type="text" id="txtLastName" placeholder="Last name" formControlName="lastName">
            <mat-error
                *ngIf="contactForm.controls['lastName'].invalid && contactForm.controls['lastName'].errors.maxlength">
                Last name must be 20 characters at most
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Telephone</mat-label>
            <input matInput type="tel" id="txtTelephone" placeholder="Telephone" formControlName="telephone"
                pattern="[0-9]{9}">
            <mat-error
                *ngIf="contactForm.controls['telephone'].invalid && contactForm.controls['telephone'].errors.required">
                Telephone is required
            </mat-error>
            <mat-error
                *ngIf="contactForm.controls['telephone'].invalid && contactForm.controls['telephone'].errors.pattern">
                Number invalid. Required 9 numeric digits</mat-error>
        </mat-form-field>
    </div>
    <div id="customUploadContainer">
        <label id="customUploadButton">
            <input type="file" accept="image/png, image/jpeg, image/x-icon" (change)="changeFile($event)" />
            Upload image
        </label>
        <label id="customUploadLabel">{{contactForm.controls['img'].value.name}}</label>
    </div>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button cdkFocusInitial type="submit">Save</button>
    </mat-dialog-actions>
</form>